:root {
  --bg-color: #011627;
  --txt-color: #d6deeb;
}

*, 
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: var(--bg-color);
  /* background-image: repeating-conic-gradient(pink 0 9deg, var(--bg-color) 9deg 18deg); */
  /* background-image: repeating-conic-gradient(from 0deg, pink 0deg 30deg, #fb2684 30deg 60deg, var(--bg-color) 60deg 90deg); */
  font-family: 'Molle', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2em solid white;
  clip-path: inset(40px 40px);
}

.container {
  background: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5em solid white;
  width: 100%;
  height: 100vh;
  clip-path: inset(20px 20px);
}

#my-logo {
  width: 100%;
  height: 100%;
  color: var(--txt-color);
  color: white;
  font-size: 20em;
  font-weight: 900;
}
