:root {
  --bg-color: #011627;
  --txt-color: #d6deeb;
}

*, 
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: var(--bg-color);
  font-family: 'Molle', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  color: var(--txt-color);
  font-size: 11em;
  font-weight: 900;
}